@charset "utf-8";
/* CSS Document */
body,
html {
    margin: 0;
    padding: 0;
}

body{
    background: #1C84E4
}

table{
		border-spacing: 0;
		width: 100%;
		border="1";
}
table{
		border: solid #ccc 1px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 1px 1px #ccc;
		-moz-box-shadow: 0 1px 1px #ccc;
		box-shadow: 0 1px 1px #ccc;
}
td,th {
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding: 5px;
		text-align: left;
		color: white;
}
a {
		color: white;
		text-decoration:none;
}
caption{
	font-size: 20px;
	margin:10px;
	color: white;
	font-weight: bold;
}
